// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$boss: 'boss';
$spritesheet-boss-name: 'boss';
$spritesheet-boss-x: 0px;
$spritesheet-boss-y: 0px;
$spritesheet-boss-offset-x: 0px;
$spritesheet-boss-offset-y: 0px;
$spritesheet-boss-width: 24px;
$spritesheet-boss-height: 24px;
$spritesheet-boss-total-width: 144px;
$spritesheet-boss-total-height: 144px;
$spritesheet-boss-image: 'sprite.png';
$spritesheet-boss: (0px, 0px, 0px, 0px, 24px, 24px, 144px, 144px, 'sprite.png', 'boss', );

$bus: 'bus';
$spritesheet-bus-name: 'bus';
$spritesheet-bus-x: 24px;
$spritesheet-bus-y: 0px;
$spritesheet-bus-offset-x: -24px;
$spritesheet-bus-offset-y: 0px;
$spritesheet-bus-width: 24px;
$spritesheet-bus-height: 24px;
$spritesheet-bus-total-width: 144px;
$spritesheet-bus-total-height: 144px;
$spritesheet-bus-image: 'sprite.png';
$spritesheet-bus: (24px, 0px, -24px, 0px, 24px, 24px, 144px, 144px, 'sprite.png', 'bus', );

$chambre-forte-sorcier: 'chambre-forte-sorcier';
$spritesheet-chambre-forte-sorcier-name: 'chambre-forte-sorcier';
$spritesheet-chambre-forte-sorcier-x: 0px;
$spritesheet-chambre-forte-sorcier-y: 24px;
$spritesheet-chambre-forte-sorcier-offset-x: 0px;
$spritesheet-chambre-forte-sorcier-offset-y: -24px;
$spritesheet-chambre-forte-sorcier-width: 24px;
$spritesheet-chambre-forte-sorcier-height: 24px;
$spritesheet-chambre-forte-sorcier-total-width: 144px;
$spritesheet-chambre-forte-sorcier-total-height: 144px;
$spritesheet-chambre-forte-sorcier-image: 'sprite.png';
$spritesheet-chambre-forte-sorcier: (0px, 24px, 0px, -24px, 24px, 24px, 144px, 144px, 'sprite.png', 'chambre-forte-sorcier', );

$coeur-plein: 'coeur-plein';
$spritesheet-coeur-plein-name: 'coeur-plein';
$spritesheet-coeur-plein-x: 24px;
$spritesheet-coeur-plein-y: 24px;
$spritesheet-coeur-plein-offset-x: -24px;
$spritesheet-coeur-plein-offset-y: -24px;
$spritesheet-coeur-plein-width: 24px;
$spritesheet-coeur-plein-height: 24px;
$spritesheet-coeur-plein-total-width: 144px;
$spritesheet-coeur-plein-total-height: 144px;
$spritesheet-coeur-plein-image: 'sprite.png';
$spritesheet-coeur-plein: (24px, 24px, -24px, -24px, 24px, 24px, 144px, 144px, 'sprite.png', 'coeur-plein', );

$collections: 'collections';
$spritesheet-collections-name: 'collections';
$spritesheet-collections-x: 48px;
$spritesheet-collections-y: 0px;
$spritesheet-collections-offset-x: -48px;
$spritesheet-collections-offset-y: 0px;
$spritesheet-collections-width: 24px;
$spritesheet-collections-height: 24px;
$spritesheet-collections-total-width: 144px;
$spritesheet-collections-total-height: 144px;
$spritesheet-collections-image: 'sprite.png';
$spritesheet-collections: (48px, 0px, -48px, 0px, 24px, 24px, 144px, 144px, 'sprite.png', 'collections', );

$commandant-rouge: 'commandant-rouge';
$spritesheet-commandant-rouge-name: 'commandant-rouge';
$spritesheet-commandant-rouge-x: 48px;
$spritesheet-commandant-rouge-y: 24px;
$spritesheet-commandant-rouge-offset-x: -48px;
$spritesheet-commandant-rouge-offset-y: -24px;
$spritesheet-commandant-rouge-width: 24px;
$spritesheet-commandant-rouge-height: 24px;
$spritesheet-commandant-rouge-total-width: 144px;
$spritesheet-commandant-rouge-total-height: 144px;
$spritesheet-commandant-rouge-image: 'sprite.png';
$spritesheet-commandant-rouge: (48px, 24px, -48px, -24px, 24px, 24px, 144px, 144px, 'sprite.png', 'commandant-rouge', );

$coup-de-pied: 'coup-de-pied';
$spritesheet-coup-de-pied-name: 'coup-de-pied';
$spritesheet-coup-de-pied-x: 0px;
$spritesheet-coup-de-pied-y: 48px;
$spritesheet-coup-de-pied-offset-x: 0px;
$spritesheet-coup-de-pied-offset-y: -48px;
$spritesheet-coup-de-pied-width: 24px;
$spritesheet-coup-de-pied-height: 24px;
$spritesheet-coup-de-pied-total-width: 144px;
$spritesheet-coup-de-pied-total-height: 144px;
$spritesheet-coup-de-pied-image: 'sprite.png';
$spritesheet-coup-de-pied: (0px, 48px, 0px, -48px, 24px, 24px, 144px, 144px, 'sprite.png', 'coup-de-pied', );

$eclaireur: 'eclaireur';
$spritesheet-eclaireur-name: 'eclaireur';
$spritesheet-eclaireur-x: 24px;
$spritesheet-eclaireur-y: 48px;
$spritesheet-eclaireur-offset-x: -24px;
$spritesheet-eclaireur-offset-y: -48px;
$spritesheet-eclaireur-width: 24px;
$spritesheet-eclaireur-height: 24px;
$spritesheet-eclaireur-total-width: 144px;
$spritesheet-eclaireur-total-height: 144px;
$spritesheet-eclaireur-image: 'sprite.png';
$spritesheet-eclaireur: (24px, 48px, -24px, -48px, 24px, 24px, 144px, 144px, 'sprite.png', 'eclaireur', );

$ecrire: 'ecrire';
$spritesheet-ecrire-name: 'ecrire';
$spritesheet-ecrire-x: 48px;
$spritesheet-ecrire-y: 48px;
$spritesheet-ecrire-offset-x: -48px;
$spritesheet-ecrire-offset-y: -48px;
$spritesheet-ecrire-width: 24px;
$spritesheet-ecrire-height: 24px;
$spritesheet-ecrire-total-width: 144px;
$spritesheet-ecrire-total-height: 144px;
$spritesheet-ecrire-image: 'sprite.png';
$spritesheet-ecrire: (48px, 48px, -48px, -48px, 24px, 24px, 144px, 144px, 'sprite.png', 'ecrire', );

$eod: 'eod';
$spritesheet-eod-name: 'eod';
$spritesheet-eod-x: 72px;
$spritesheet-eod-y: 0px;
$spritesheet-eod-offset-x: -72px;
$spritesheet-eod-offset-y: 0px;
$spritesheet-eod-width: 24px;
$spritesheet-eod-height: 24px;
$spritesheet-eod-total-width: 144px;
$spritesheet-eod-total-height: 144px;
$spritesheet-eod-image: 'sprite.png';
$spritesheet-eod: (72px, 0px, -72px, 0px, 24px, 24px, 144px, 144px, 'sprite.png', 'eod', );

$etoile-histoire-vivante: 'etoile-histoire-vivante';
$spritesheet-etoile-histoire-vivante-name: 'etoile-histoire-vivante';
$spritesheet-etoile-histoire-vivante-x: 72px;
$spritesheet-etoile-histoire-vivante-y: 24px;
$spritesheet-etoile-histoire-vivante-offset-x: -72px;
$spritesheet-etoile-histoire-vivante-offset-y: -24px;
$spritesheet-etoile-histoire-vivante-width: 24px;
$spritesheet-etoile-histoire-vivante-height: 24px;
$spritesheet-etoile-histoire-vivante-total-width: 144px;
$spritesheet-etoile-histoire-vivante-total-height: 144px;
$spritesheet-etoile-histoire-vivante-image: 'sprite.png';
$spritesheet-etoile-histoire-vivante: (72px, 24px, -72px, -24px, 24px, 24px, 144px, 144px, 'sprite.png', 'etoile-histoire-vivante', );

$etoile-viollette: 'etoile-viollette';
$spritesheet-etoile-viollette-name: 'etoile-viollette';
$spritesheet-etoile-viollette-x: 72px;
$spritesheet-etoile-viollette-y: 48px;
$spritesheet-etoile-viollette-offset-x: -72px;
$spritesheet-etoile-viollette-offset-y: -48px;
$spritesheet-etoile-viollette-width: 24px;
$spritesheet-etoile-viollette-height: 24px;
$spritesheet-etoile-viollette-total-width: 144px;
$spritesheet-etoile-viollette-total-height: 144px;
$spritesheet-etoile-viollette-image: 'sprite.png';
$spritesheet-etoile-viollette: (72px, 48px, -72px, -48px, 24px, 24px, 144px, 144px, 'sprite.png', 'etoile-viollette', );

$evenements-actuels: 'evenements-actuels';
$spritesheet-evenements-actuels-name: 'evenements-actuels';
$spritesheet-evenements-actuels-x: 0px;
$spritesheet-evenements-actuels-y: 72px;
$spritesheet-evenements-actuels-offset-x: 0px;
$spritesheet-evenements-actuels-offset-y: -72px;
$spritesheet-evenements-actuels-width: 24px;
$spritesheet-evenements-actuels-height: 24px;
$spritesheet-evenements-actuels-total-width: 144px;
$spritesheet-evenements-actuels-total-height: 144px;
$spritesheet-evenements-actuels-image: 'sprite.png';
$spritesheet-evenements-actuels: (0px, 72px, 0px, -72px, 24px, 24px, 144px, 144px, 'sprite.png', 'evenements-actuels', );

$evenements-bonus: 'evenements-bonus';
$spritesheet-evenements-bonus-name: 'evenements-bonus';
$spritesheet-evenements-bonus-x: 24px;
$spritesheet-evenements-bonus-y: 72px;
$spritesheet-evenements-bonus-offset-x: -24px;
$spritesheet-evenements-bonus-offset-y: -72px;
$spritesheet-evenements-bonus-width: 24px;
$spritesheet-evenements-bonus-height: 24px;
$spritesheet-evenements-bonus-total-width: 144px;
$spritesheet-evenements-bonus-total-height: 144px;
$spritesheet-evenements-bonus-image: 'sprite.png';
$spritesheet-evenements-bonus: (24px, 72px, -24px, -72px, 24px, 24px, 144px, 144px, 'sprite.png', 'evenements-bonus', );

$festivites: 'festivites';
$spritesheet-festivites-name: 'festivites';
$spritesheet-festivites-x: 48px;
$spritesheet-festivites-y: 72px;
$spritesheet-festivites-offset-x: -48px;
$spritesheet-festivites-offset-y: -72px;
$spritesheet-festivites-width: 24px;
$spritesheet-festivites-height: 24px;
$spritesheet-festivites-total-width: 144px;
$spritesheet-festivites-total-height: 144px;
$spritesheet-festivites-image: 'sprite.png';
$spritesheet-festivites: (48px, 72px, -48px, -72px, 24px, 24px, 144px, 144px, 'sprite.png', 'festivites', );

$fishing: 'fishing';
$spritesheet-fishing-name: 'fishing';
$spritesheet-fishing-x: 72px;
$spritesheet-fishing-y: 72px;
$spritesheet-fishing-offset-x: -72px;
$spritesheet-fishing-offset-y: -72px;
$spritesheet-fishing-width: 24px;
$spritesheet-fishing-height: 24px;
$spritesheet-fishing-total-width: 144px;
$spritesheet-fishing-total-height: 144px;
$spritesheet-fishing-image: 'sprite.png';
$spritesheet-fishing: (72px, 72px, -72px, -72px, 24px, 24px, 144px, 144px, 'sprite.png', 'fishing', );

$fractales: 'fractales';
$spritesheet-fractales-name: 'fractales';
$spritesheet-fractales-x: 96px;
$spritesheet-fractales-y: 0px;
$spritesheet-fractales-offset-x: -96px;
$spritesheet-fractales-offset-y: 0px;
$spritesheet-fractales-width: 24px;
$spritesheet-fractales-height: 24px;
$spritesheet-fractales-total-width: 144px;
$spritesheet-fractales-total-height: 144px;
$spritesheet-fractales-image: 'sprite.png';
$spritesheet-fractales: (96px, 0px, -96px, 0px, 24px, 24px, 144px, 144px, 'sprite.png', 'fractales', );

$guide-aventure: 'guide-aventure';
$spritesheet-guide-aventure-name: 'guide-aventure';
$spritesheet-guide-aventure-x: 96px;
$spritesheet-guide-aventure-y: 24px;
$spritesheet-guide-aventure-offset-x: -96px;
$spritesheet-guide-aventure-offset-y: -24px;
$spritesheet-guide-aventure-width: 24px;
$spritesheet-guide-aventure-height: 24px;
$spritesheet-guide-aventure-total-width: 144px;
$spritesheet-guide-aventure-total-height: 144px;
$spritesheet-guide-aventure-image: 'sprite.png';
$spritesheet-guide-aventure: (96px, 24px, -96px, -24px, 24px, 24px, 144px, 144px, 'sprite.png', 'guide-aventure', );

$hot: 'hot';
$spritesheet-hot-name: 'hot';
$spritesheet-hot-x: 96px;
$spritesheet-hot-y: 48px;
$spritesheet-hot-offset-x: -96px;
$spritesheet-hot-offset-y: -48px;
$spritesheet-hot-width: 24px;
$spritesheet-hot-height: 24px;
$spritesheet-hot-total-width: 144px;
$spritesheet-hot-total-height: 144px;
$spritesheet-hot-image: 'sprite.png';
$spritesheet-hot: (96px, 48px, -96px, -48px, 24px, 24px, 144px, 144px, 'sprite.png', 'hot', );

$hotnews: 'hotnews';
$spritesheet-hotnews-name: 'hotnews';
$spritesheet-hotnews-x: 96px;
$spritesheet-hotnews-y: 72px;
$spritesheet-hotnews-offset-x: -96px;
$spritesheet-hotnews-offset-y: -72px;
$spritesheet-hotnews-width: 24px;
$spritesheet-hotnews-height: 24px;
$spritesheet-hotnews-total-width: 144px;
$spritesheet-hotnews-total-height: 144px;
$spritesheet-hotnews-image: 'sprite.png';
$spritesheet-hotnews: (96px, 72px, -96px, -72px, 24px, 24px, 144px, 144px, 'sprite.png', 'hotnews', );

$jcj: 'jcj';
$spritesheet-jcj-name: 'jcj';
$spritesheet-jcj-x: 0px;
$spritesheet-jcj-y: 96px;
$spritesheet-jcj-offset-x: 0px;
$spritesheet-jcj-offset-y: -96px;
$spritesheet-jcj-width: 24px;
$spritesheet-jcj-height: 24px;
$spritesheet-jcj-total-width: 144px;
$spritesheet-jcj-total-height: 144px;
$spritesheet-jcj-image: 'sprite.png';
$spritesheet-jcj: (0px, 96px, 0px, -96px, 24px, 24px, 144px, 144px, 'sprite.png', 'jcj', );

$mcm: 'mcm';
$spritesheet-mcm-name: 'mcm';
$spritesheet-mcm-x: 24px;
$spritesheet-mcm-y: 96px;
$spritesheet-mcm-offset-x: -24px;
$spritesheet-mcm-offset-y: -96px;
$spritesheet-mcm-width: 24px;
$spritesheet-mcm-height: 24px;
$spritesheet-mcm-total-width: 144px;
$spritesheet-mcm-total-height: 144px;
$spritesheet-mcm-image: 'sprite.png';
$spritesheet-mcm: (24px, 96px, -24px, -96px, 24px, 24px, 144px, 144px, 'sprite.png', 'mcm', );

$metas: 'metas';
$spritesheet-metas-name: 'metas';
$spritesheet-metas-x: 48px;
$spritesheet-metas-y: 96px;
$spritesheet-metas-offset-x: -48px;
$spritesheet-metas-offset-y: -96px;
$spritesheet-metas-width: 24px;
$spritesheet-metas-height: 24px;
$spritesheet-metas-total-width: 144px;
$spritesheet-metas-total-height: 144px;
$spritesheet-metas-image: 'sprite.png';
$spritesheet-metas: (48px, 96px, -48px, -96px, 24px, 24px, 144px, 144px, 'sprite.png', 'metas', );

$mission-attaque: 'mission-attaque';
$spritesheet-mission-attaque-name: 'mission-attaque';
$spritesheet-mission-attaque-x: 72px;
$spritesheet-mission-attaque-y: 96px;
$spritesheet-mission-attaque-offset-x: -72px;
$spritesheet-mission-attaque-offset-y: -96px;
$spritesheet-mission-attaque-width: 24px;
$spritesheet-mission-attaque-height: 24px;
$spritesheet-mission-attaque-total-width: 144px;
$spritesheet-mission-attaque-total-height: 144px;
$spritesheet-mission-attaque-image: 'sprite.png';
$spritesheet-mission-attaque: (72px, 96px, -72px, -96px, 24px, 24px, 144px, 144px, 'sprite.png', 'mission-attaque', );

$outils: 'outils';
$spritesheet-outils-name: 'outils';
$spritesheet-outils-x: 96px;
$spritesheet-outils-y: 96px;
$spritesheet-outils-offset-x: -96px;
$spritesheet-outils-offset-y: -96px;
$spritesheet-outils-width: 24px;
$spritesheet-outils-height: 24px;
$spritesheet-outils-total-width: 144px;
$spritesheet-outils-total-height: 144px;
$spritesheet-outils-image: 'sprite.png';
$spritesheet-outils: (96px, 96px, -96px, -96px, 24px, 24px, 144px, 144px, 'sprite.png', 'outils', );

$pof: 'pof';
$spritesheet-pof-name: 'pof';
$spritesheet-pof-x: 120px;
$spritesheet-pof-y: 0px;
$spritesheet-pof-offset-x: -120px;
$spritesheet-pof-offset-y: 0px;
$spritesheet-pof-width: 24px;
$spritesheet-pof-height: 24px;
$spritesheet-pof-total-width: 144px;
$spritesheet-pof-total-height: 144px;
$spritesheet-pof-image: 'sprite.png';
$spritesheet-pof: (120px, 0px, -120px, 0px, 24px, 24px, 144px, 144px, 'sprite.png', 'pof', );

$raids: 'raids';
$spritesheet-raids-name: 'raids';
$spritesheet-raids-x: 120px;
$spritesheet-raids-y: 24px;
$spritesheet-raids-offset-x: -120px;
$spritesheet-raids-offset-y: -24px;
$spritesheet-raids-width: 24px;
$spritesheet-raids-height: 24px;
$spritesheet-raids-total-width: 144px;
$spritesheet-raids-total-height: 144px;
$spritesheet-raids-image: 'sprite.png';
$spritesheet-raids: (120px, 24px, -120px, -24px, 24px, 24px, 144px, 144px, 'sprite.png', 'raids', );

$skritt: 'skritt';
$spritesheet-skritt-name: 'skritt';
$spritesheet-skritt-x: 120px;
$spritesheet-skritt-y: 48px;
$spritesheet-skritt-offset-x: -120px;
$spritesheet-skritt-offset-y: -48px;
$spritesheet-skritt-width: 24px;
$spritesheet-skritt-height: 24px;
$spritesheet-skritt-total-width: 144px;
$spritesheet-skritt-total-height: 144px;
$spritesheet-skritt-image: 'sprite.png';
$spritesheet-skritt: (120px, 48px, -120px, -48px, 24px, 24px, 144px, 144px, 'sprite.png', 'skritt', );

$soto: 'soto';
$spritesheet-soto-name: 'soto';
$spritesheet-soto-x: 120px;
$spritesheet-soto-y: 72px;
$spritesheet-soto-offset-x: -120px;
$spritesheet-soto-offset-y: -72px;
$spritesheet-soto-width: 24px;
$spritesheet-soto-height: 24px;
$spritesheet-soto-total-width: 144px;
$spritesheet-soto-total-height: 144px;
$spritesheet-soto-image: 'sprite.png';
$spritesheet-soto: (120px, 72px, -120px, -72px, 24px, 24px, 144px, 144px, 'sprite.png', 'soto', );

$succes: 'succes';
$spritesheet-succes-name: 'succes';
$spritesheet-succes-x: 120px;
$spritesheet-succes-y: 96px;
$spritesheet-succes-offset-x: -120px;
$spritesheet-succes-offset-y: -96px;
$spritesheet-succes-width: 24px;
$spritesheet-succes-height: 24px;
$spritesheet-succes-total-width: 144px;
$spritesheet-succes-total-height: 144px;
$spritesheet-succes-image: 'sprite.png';
$spritesheet-succes: (120px, 96px, -120px, -96px, 24px, 24px, 144px, 144px, 'sprite.png', 'succes', );

$tp: 'tp';
$spritesheet-tp-name: 'tp';
$spritesheet-tp-x: 0px;
$spritesheet-tp-y: 120px;
$spritesheet-tp-offset-x: 0px;
$spritesheet-tp-offset-y: -120px;
$spritesheet-tp-width: 24px;
$spritesheet-tp-height: 24px;
$spritesheet-tp-total-width: 144px;
$spritesheet-tp-total-height: 144px;
$spritesheet-tp-image: 'sprite.png';
$spritesheet-tp: (0px, 120px, 0px, -120px, 24px, 24px, 144px, 144px, 'sprite.png', 'tp', );

$spritesheet-width: 144px;
$spritesheet-height: 144px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($spritesheet-boss, $spritesheet-bus, $spritesheet-chambre-forte-sorcier, $spritesheet-coeur-plein, $spritesheet-collections, $spritesheet-commandant-rouge, $spritesheet-coup-de-pied, $spritesheet-eclaireur, $spritesheet-ecrire, $spritesheet-eod, $spritesheet-etoile-histoire-vivante, $spritesheet-etoile-viollette, $spritesheet-evenements-actuels, $spritesheet-evenements-bonus, $spritesheet-festivites, $spritesheet-fishing, $spritesheet-fractales, $spritesheet-guide-aventure, $spritesheet-hot, $spritesheet-hotnews, $spritesheet-jcj, $spritesheet-mcm, $spritesheet-metas, $spritesheet-mission-attaque, $spritesheet-outils, $spritesheet-pof, $spritesheet-raids, $spritesheet-skritt, $spritesheet-soto, $spritesheet-succes, $spritesheet-tp, );

$spritesheet: (144px, 144px, 'sprite.png', $spritesheet-sprites, );

$spritesheet-map: (
    boss: $spritesheet-boss,
    bus: $spritesheet-bus,
    chambre-forte-sorcier: $spritesheet-chambre-forte-sorcier,
    coeur-plein: $spritesheet-coeur-plein,
    collections: $spritesheet-collections,
    commandant-rouge: $spritesheet-commandant-rouge,
    coup-de-pied: $spritesheet-coup-de-pied,
    eclaireur: $spritesheet-eclaireur,
    ecrire: $spritesheet-ecrire,
    eod: $spritesheet-eod,
    etoile-histoire-vivante: $spritesheet-etoile-histoire-vivante,
    etoile-viollette: $spritesheet-etoile-viollette,
    evenements-actuels: $spritesheet-evenements-actuels,
    evenements-bonus: $spritesheet-evenements-bonus,
    festivites: $spritesheet-festivites,
    fishing: $spritesheet-fishing,
    fractales: $spritesheet-fractales,
    guide-aventure: $spritesheet-guide-aventure,
    hot: $spritesheet-hot,
    hotnews: $spritesheet-hotnews,
    jcj: $spritesheet-jcj,
    mcm: $spritesheet-mcm,
    metas: $spritesheet-metas,
    mission-attaque: $spritesheet-mission-attaque,
    outils: $spritesheet-outils,
    pof: $spritesheet-pof,
    raids: $spritesheet-raids,
    skritt: $spritesheet-skritt,
    soto: $spritesheet-soto,
    succes: $spritesheet-succes,
    tp: $spritesheet-tp,
);

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@function spritesheet-getwidth($sprite, $rate: 1) {
  $real-sprite:  map-get($spritesheet-map, $sprite);
  @return nth($real-sprite, 5) * $rate;
}

@function spritesheet-getheight($sprite, $rate: 1) {
  $real-sprite:  map-get($spritesheet-map, $sprite);
  @return nth($real-sprite, 6) * $rate;
}

@mixin spritesheet-sprite-width($sprite, $rate: 1, $size: null) {
  @if ($size == null){
    $size: spritesheet-getwidth($sprite, $rate);
  }
  width: $size;
}

@mixin spritesheet-sprite-height($sprite, $rate: 1, $size: null) {
  @if ($size == null){
    $size: spritesheet-getheight($sprite, $rate);
  }
  height: $size;
}

@mixin spritesheet-sprite-position($sprite, $rate: 1, $size: null) {
  @if ($rate == 1 and $size != null){
    $rate: $size / spritesheet-getwidth($sprite);
  }
  $real-sprite: map-get($spritesheet-map, $sprite);
  $sprite-offset-x: nth($real-sprite, 3);
  $sprite-offset-y: nth($real-sprite, 4);
  background-position: $sprite-offset-x * $rate $sprite-offset-y * $rate;
}

@mixin spritesheet-sprite-image() {
  background-image: url(sprite.png);
}

@mixin spritesheet-sprite-size($sprite, $rate: 1, $size: null) {
  @if ($rate == 1 and $size != null){
    $rate: $size / spritesheet-getwidth($sprite);
  }
  background-size: $spritesheet-width * $rate $spritesheet-height * $rate;
}

@mixin spritesheet-sprite($sprite, $rate: 1, $size: null) {
  @include spritesheet-sprite-image();
  @include spritesheet-sprite-position($sprite, $rate, $size);
  @include spritesheet-sprite-width($sprite, $rate, $size);
  @include spritesheet-sprite-height($sprite, $rate, $size);
  @include spritesheet-sprite-size($sprite, $rate, $size);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    &.#{$sprite-name} {
      @include spritesheet-sprite($sprite-name);
    }
  }
}
