@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'sprite';
.lbm-icon {
  @include sprites($spritesmith-sprites);
  display: inline-block;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
}

.bangers {
  font-family: 'Bangers';
  letter-spacing: 0.05rem;
}

.border-3 {
  border-width: 3px;
}

.text-xxs {
  font-size: 0.65rem;
}

.bg-access-HoT {
  background: #7f9a3d;
}

.bg-access-PoF {
  background: #d40143;
}

.bg-access-EoD {
  background: #56adcc;
}

.bg-access-SotO {
  background: #bd9d2f;
}
